<div class="container" style="overflow-y: auto">
    <h3>Heatmap Settings</h3>
    <hr>
    <p class="lead">
        Hint: The chosen options are reset once the browser is reloaded.
    </p>
    <br />
    {{configuration/heatmap-settings}}
</div>