  
<li class="nav-item mx-2">
  {{#power-select
  options=metrics
  selected=choice
  onchange=(action "selectMetric")
  placeholder="Select metric..."
  searchEnabled=false
  matchTriggerWidth=false
  as |metric|}}
    {{capitalize metric.name}}
    <HelpTooltipRight @title={{metric.description}}/>
  {{/power-select}}
</li>