<div id="heatmap-legend-container" class="container p-2">
    <div id="legend-header">
    </div>
    <div class="row legend-row">
        <div id="heatmap-legend" class="col-4">
            <canvas id="legend-canvas" width="100%" height="100%"></canvas>
        </div>
        <div id="heatmap-legend-label" class="col-8">
            <canvas id="legend-canvas-label" width="100%" height="100%"></canvas>
        </div>
    </div>
</div>